@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
		--very_darkCyan: hsl(159, 79%, 15%);
		--darkCyan: hsl(158, 36%, 37%);
		--cream: hwb(32 89% 5%);
		--very_darkBlue: hsl(212, 21%, 14%);
		--dark_greyBlue: hsl(228, 12%, 48%);
		--white: hsl(0, 0%, 100%);
	}
	/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-size: 14px;
		text-decoration: none;
	}
	html{
		width: 100%;
		height: 100%;	
	}
	body{  width: 100%;
  		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--cream);
/* 		width: 40rem;
		height: 35rem;
		margin: 0 auto; */
	}
	/* text and headings */
	h6{
		padding-top: 30px;
		font-weight: 500px;
		letter-spacing: 4px;
		margin-bottom: 30px;
		color: var(--dark_greyBlue);
		opacity: .5;
		font-family: 'Montserrat', sans-serif;
	}
	h1{
		font-size: 40px;
		font-weight: 700;
		font-family: 'Fraunces', serif;
	}
	.card-text p{
		margin-top: 20px;
		color: var(--dark_greyBlue);
		padding-bottom: 20px;
		opacity: .6;
		font-family: 'Montserrat', sans-serif;
	}
	/* card container */
	.container {
		display:grid;
		grid-template-columns:repeat(2,1fr);
		margin:50px auto 0px auto;
		border-radius: 20px;
		background-color: var(--white);
		width: 40rem;
		height: 37rem;
	}
	/* image container */
	.image-fluid{
		width: 20rem;
	}
	.image-fluid img{
		width: 20rem;
		height: 35rem;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	/* card body container */
	.card-text{
		width: 19rem;
		height: 35rem;
		padding: 10px;
	}
	/* cart and numbers container */
	.icon{
		background-color:var(--darkCyan);
		border-radius: 10px;
		padding: 10px;
		margin-top: 35px;
		cursor: pointer;
		color: var(--white);
		display: flex;
		align-items:center;
		justify-content: center;
		border:1px solid red;
	}
	.icon:hover{
		background-color: var(--very_darkCyan);
	}
.number{
	margin-top: 10px;
}
/* numbers */
#nostrike{
	text-decoration: line-through;
	color: var(--darkCyan);
	font-size: 24px;
	font-family: 'Fraunces', serif;
}
#strike{
	text-decoration: line-through;
	color: var(--dark_greyBlue);
	font-family: 'Fraunces', serif;
	padding: 5px;
	opacity: .5;
	margin-left: 5px;
}
.attribution { font-size: 11px;
	text-align: center;
}
 .attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width:585px){
	body{
		width: 100%;
		min-height: 100vh;
	}
	.container {
		display:flex;
		flex-direction: column;
		margin:20px auto 0px auto;
		border-radius: 20px;
		background-color: var(--white);
		width: 22rem;
		height: 40rem;
		overflow: hidden;
	}
	.image-fluid{
		width: 100%;
	}
	.image-fluid img{
		width: 100%;
		height: 15rem;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}
	.card-text{
		width: 100%;
		height: 20rem;
		padding: 20px 10px;
	}
	h6{
		padding-top: 8px;
	}
	h1{
		font-size: 30px;
		margin-top: -20px;
		margin-bottom: -16px;
	}
	.number{
		margin-top: 2px;
	}
	.icon{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
